<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camera Preview Demo App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" class="content-camera-preview" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camera Preview Demo App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-button expand="block" color="primary" class="action-button" (click)="showFrontCameraPreview()">Show Front
        Camera Preview</ion-button>
      <ion-button expand="block" color="secondary" class="action-button" (click)="showRearCameraPreview()">Show Rear
        Camera Preview</ion-button>
      <div style="text-align: center; margin: 20px 0;">
        <ion-checkbox label-placement="end" [(ngModel)]="partialMode">Partial</ion-checkbox>
      </div>
      <ion-button expand="block" color="tertiary" class="action-button" (click)="stop()">Stop</ion-button>
      <ion-button expand="block" color="success" class="action-button" (click)="flip()">Flip</ion-button>
      <ion-button expand="block" color="warning" class="action-button" (click)="captureSample()">Capture
        Sample</ion-button>
    </ion-card-content>
  </ion-card>

  @if (imageData) {
  <div class="image-container">
    <img alt="Photo" class="sample-image" id="sampleImage" />
  </div>
  }

</ion-content>