<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camera Preview Demo App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" class="content-camera-preview" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camera Preview Demo App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-button expand="block" color="primary" class="action-button" (click)="showFrontCameraPreview(true)">Show Front
        Camera Preview (with safe area)</ion-button>
      <ion-button expand="block" color="primary" class="action-button" (click)="showFrontCameraPreview(false)">Show
        Front
        Camera Preview (without safe area)</ion-button>
      <ion-button expand="block" color="secondary" class="action-button" (click)="showRearCameraPreview(true)">Show Rear
        Camera Preview (with safe area)</ion-button>
      <ion-button expand="block" color="secondary" class="action-button" (click)="showRearCameraPreview(false)">Show
        Rear
        Camera Preview (without safe area)</ion-button>
      <ion-button expand="block" color="tertiary" class="action-button" (click)="stop()">Stop</ion-button>
      <ion-button expand="block" color="success" class="action-button" (click)="flip()">Flip</ion-button>
      <ion-button expand="block" color="warning" class="action-button" (click)="captureSample()">Capture
        Sample</ion-button>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="imageData">
    <!-- <div class="title">Original Image/Photo</div> -->
    <div class="image-container">
      <img alt="Photo" class="sample-image" id="sampleImage" />
    </div>
  </ng-container>

</ion-content>